/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#upgrade-imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.siteName a{
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: rgb(15, 16, 17);
}
#top-header, #inv-display li{
  display: flex;
  justify-content: space-between;
}
#vehicle-page{
    display:grid;
    place-items: center;
}
#vehicle-page img{
  width: 70%;
  height: auto;
}
#tools a{
  text-decoration: none;
  color: rgb(43, 83, 143);
}
nav{
  width: 100%;
  margin:0;
  background-color: rgb(20, 21, 21);
}
  
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px;
}
nav ul a, #inv-display li{
  display: inline;
  color:white;
  text-decoration: none;
}
main{
  display:grid;
  place-items: center;
}
.namePrice h2, .namePrice span{
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.namePrice a{
  text-decoration: none;
}

.namePrice span{
  color:black;
}
.notice{
  color: red;
}

nav ul a:hover{
  color:black;
  background-color: white;
}
#inv-display img{
  height: 125px;
  width: auto;
  
}
#titled{
  text-align: center;
}
#management-page{
  display: grid;
  width: 100%;
  place-items:start;
}

#hero{
  position:relative;
  margin-bottom: 80px;
}
#hero img{
  width: 100%;
}
#hero-text{
  line-height: 0.7;
  padding: 10px;
  top:20px;
  left:20px;
  width: 35%;
  min-width: 100px;
  position:absolute;
  z-index: 1;
  background-color: rgba(251, 251, 252, 0.737);
  font-size: clamp(0.5rem,1.5vw, 1rem);
}
.loginForm{
  display:grid;
  row-gap: 5px;
  background-color: rgba(25, 42, 117, 0.762);
  color:antiquewhite;
  padding:20px;
  padding-top: 40px;
  width: 80%;
  border-radius: 10px;
}


.loginForm input, .register-page input, .classification-form input, .inventory-form input, .inventory-form select{
  height: 30px;
  width: 95%;
  border-radius: 5px;
  border-color: antiquewhite;
  border: solid 2px rgba(0, 0, 0, 0.89);
}

.classification-form button,
#register-btn, #loginBtn, #submitBtn {
  width: 100px;
  height: 40px;
  font-weight: bold;
  font-size: 13px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: -10px;
  background-color: rgb(13, 26, 47);
  color:antiquewhite;
  border-color: antiquewhite;
}

.classification-form button, #submitBtn{
  width: fit-content;
}

.loginForm a{
  color:antiquewhite;
  margin-left: 10px;
}

.register-page{
  display: grid;
  border: solid 2px rgb(43, 83, 143);
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  
}
#pswdBtn{
  width: 120px;
}

#hero-text img{
  height: auto;
  width: 60%;
}
#upgrade-imgs div div{
  display: grid;
  background-color: rgb(44, 123, 213);
  height: 100px;
  place-items: center;
  margin: 10px;
  border-radius: 10px;
}
#upgrade-imgs div p{
  text-align: center;
  text-decoration: underline;
}

#new-classification, #new-inventory, .classification-form, .inventory-form{
  display: grid;
  background-color: rgb(44, 123, 213) ;
  padding: 20px;
  border: 2px solid rgb(250, 249, 249);
  border-radius: 20px;
  min-width: 90%;
}


input:required:invalid, input:focus:invalid{
  border-left: 5px solid rgb(255, 34, 0);
}

input:required:valid, input:focus:valid{
  border-left: 5px solid rgb(4, 221, 36);
}

#vehicle-info span{
  font-weight: bold;
}
footer{
  background-color: rgb(199, 199, 200);
  height: 50px;
  
  padding:5px;
  margin-top: 20px;
  margin-bottom: 15px;
}

@media screen and (min-width: 700px) {
  nav li{
    font-size: 1rem;
  }
  #review-details li{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #details{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #reviews{
    grid-column: 2/3;
    
  }
  #reviews li{
    line-height: 2rem;
  }
  #upgrades{
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #inv-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #vehicle-page{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    place-items: center;
  }
  #vehicle-page img{
    width: 60%;
    height: auto;
  }

  body{
    background-image: url("../images/site/small_check.jpg");
    display:grid;
    place-items: center;
    
  }
  
  #wrapper{
    background-color: white;
    min-width: 500px;
    max-width: 1000px;
    border: solid rgb(22, 123, 218) 12px;
    border-radius: 20px;
    padding:20px;   
  }
}